MAIL_HOST = 'smtp.gmail.com'
MAIL_USER = 'ritika22022003@gmail.com'
MAIL_PASS = 'cijm vmya qydn wdkf'


JWT_SECRET = "secret"
FOLDER_NAME = "template"


CLOUD_NAME = 'darsgxqnd'
API_KEY = '386615512155823'
API_SECRET = 'nAu92UDy8FpyPUxjTXfr4EYfT4g'


MONGODB_URL = "mongodb+srv://ritika22022003:ritika22@cluster0.2skfljh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"  
PORT = 4000